# Segmenting and Clustering Neighborhoods in Toronto
#### Applied Data Science Capstone, Part 1

###### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

###### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

###### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

###### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [1]:
#Import Libraries to be used for Question 1 of the Project

import pandas as pd
import numpy as np

In [2]:
#The data has been scraped via Power Query and converted to a CSV file
#The Dataframe will also be given the name Toronto

Toronto=pd.read_csv('C:/Users/codyi/Desktop/Toronto.csv')
Toronto.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [3]:
#show the number of rows and columns

Toronto.shape

(180, 3)

In [4]:
#drop cells with a 'Not assigned' Borough and then rename all the 'Not assigned' Neighbourhood's to the name of it's Borough

indexNames = Toronto[ Toronto['Borough'] == 'Not assigned' ].index
Toronto.drop(indexNames , inplace=True)
for index, row in Toronto.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

In [5]:
#show the changes in the dataframe

Toronto

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [6]:
#show the new number of rows and columns after dropping the 'Not assigned' Borough's

Toronto.shape

(103, 3)

### The prior code fulfulls part 1 of the Applied Data Science Capstone

## Question 2 - Get the latitude and the longitude coordinates of each neighborhood.

In [7]:
#import the required libraries for the remaining  questions

import requests
import io
import folium
from sklearn.cluster import KMeans # clustering algorithm
import matplotlib.cm as cm
import matplotlib.colors as colors

In [8]:
#A CSV file with the geospatial data was provided by the course instructor

url="http://cocl.us/Geospatial_data"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [9]:
#merge the data frames

c.columns = ['Postal Code', 'Latitude', 'Longitude']
Toronto = pd.merge(c, Toronto, on='Postal Code')
Toronto

,Postal Code,Latitude,Longitude,Borough,Neighbourhood
0,M1B,43.806686,-79.194353,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae
...,...,...,...,...,...
98,M9N,43.706876,-79.518188,York,Weston
99,M9P,43.696319,-79.532242,Etobicoke,Westmount
100,M9R,43.688905,-79.554724,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,43.739416,-79.588437,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,43.706748,-79.594054,Etobicoke,"Northwest, West Humber - Clairville"

###### There are now 5 columns in the dataframe